DEBUG=False
SECRET_KEY=замени-на-случайный-ключ
DATABASE_URL=postgres://user:password@localhost:5432/dbname
ALLOWED_HOSTS=timoda.uz,www.timoda.uz

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply@timoda.uz

# eskiz.uz
ESKIZ_EMAIL=your@email.com
ESKIZ_PASSWORD=your_password
ESKIZ_SENDER=4546
ESKIZ_CLIENT_ID=your_client_id

# Payme.uz
PAYME_MERCHANT_ID=
PAYME_KEY=

# Click.uz
CLICK_SERVICE_ID=
CLICK_MERCHANT_ID=
CLICK_SECRET_KEY=

SITE_URL=https://timoda.uz
REDIS_URL=redis://127.0.0.1:6379/0
CSRF_TRUSTED_ORIGINS=https://timoda.uz,https://www.timoda.uz
